
.photogrid {
	margin: 0 auto;
	width: 100%;
}

.list {
	display:flex;
	flex-flow: row wrap;
	list-style: none;
	margin-bottom: 2rem;
}

.photo-wrapper {
	flex: 0 1 100%;
	position: relative;

	img {
		width: 100%;
	}

	@media only screen and (min-width:600px){
		flex: 0 1 50%;
	}

	@media only screen and (min-width:1000px){
		flex: 0 1 25%;
	}
}


.meta-data{
	background:rgba(0,0,0,0.6);
	bottom: 0;
	color: $main-white;
	display: flex;
	font-size: 1rem;
	justify-content: space-between;
	padding: .5rem;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.user-wrapper {
	overflow: hidden;

	img {
		border-radius: 50%;
		max-width: 50px;
	}
}

.social-info{
	font-weight: 700;
	text-align: right;
}

.user-name{
	line-height: 1.5;
	margin-top: .33rem;
	overflow: hidden;
	white-space: nowrap;
}

.fa {
	font-size: .8rem;

	.fa:before {
		margin-left: .5rem;
		margin-right: .17rem;
	}
}
