.site-footer {
  color: $brand-grey;
  padding-bottom: 2rem 0;
  text-align: center;

  @include tablet {
    font-size: $tablet-font-size * .9;
  }

  @include desktop {
    padding-left: 2rem;
    text-align: left;
  }
}

.uppercase {
  text-transform: uppercase;
}
