
.site-header {
	align-items: center;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
  height: 90vh;
	padding-bottom: 2rem;
	padding-top: 2rem;

	@include tablet {
		flex-flow: row nowrap;
		width: 100%;
	}

	@include desktop {
		justify-content: flex-start;
		padding-left: 2rem;
	}
}

.instagrid-logo {
  margin-bottom: 1rem;
  width: 300px;

	img {
		height:auto;
		max-width: 100%;
	}

	@include tablet {
		padding-right: 20px;
	}
}

.search-bar {
	display: block;
	width: 300px;
	text-align: center;
	@include tablet {
		width: 240px;
	}
}

.search-bar-inner {
  border-bottom: 1px solid #dbdbdb;
	position: relative;
	width: 100%;

	@include tablet {
		width: 100%;
	}
	@include desktop {
		width: 300px;
	}

	&:before {
		content: "#";
		font-size: $mobile-font-size * 1.65;
		@include tablet {
			font-size: $tablet-font-size * 1.5;
		}
		font-weight: 600;
		position: absolute;
		left: .5rem;
		top: -.10rem;
	}
}

.search-box {
	background-color: transparent;
	border:none;
  color: #fff;
	font-family:'Open-Sans', serif;
  font-size: 1.1rem;
	padding-bottom: .4rem;
	padding-left: 2rem;
	width: 100%
}

.search-button {
	background-color: transparent;
	border: none;
	color: #fff;
	display:inline-block;
	font-family: FontAwesome;
	font-size: 1rem;
	font-weight: 700;
	position: absolute;
	padding-bottom: 1rem;
	right: 0;
	top: 0;

	&:hover {
		color: #e2231a;
		cursor: pointer;
	}
}
