// Colours
$main-white: #fff;
$background-black: #000;
$brand-grey: #c2c2c2;

//Font Sizes
$mobile-font-size: 14px;
$tablet-font-size: 16px;

//Screen Widths
$tablet-width: 600px;
$desktop-width: 1000px;
